@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

:root {
    --primary-font-family: 'Open Sans Hebrew', serif;
    --dark-color: rgba(26, 26, 26, 1);
    --primary-color: rgba(57, 130, 171, 1);
    --secondary-color: rgba(49, 154, 181, 1);
    --tertiary-color: rgba(40, 178, 191, 1);
    --quaternary-color: rgba(31, 192, 166, 1);
    --quinary-color: rgba(115, 208, 159, 1);
    --border-radius: 8px;
    --nav-bar-height: 48px;
    --layout-padding-y: 5vh;
    --layout-padding-x: 20px;
    --section-padding: var(--layout-padding-y) var(--layout-padding-x);
    --item-gap: 16px;
    --grid-column-min: 285px;
    --transition-duration: 300ms;
    --font-xxlarge: 120px;
    --font-xlarge: 72px;
    --font-large: 48px;
    --font-medium: 36px;
    --font-small: 24px;
    --font-xsmall: 18px;
    --font-xxsmall: 12px;
}

body {
    overscroll-behavior: none;
    background-color: black;
    margin: 0px;
}

#app {
    font-family: var(--primary-font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    overflow-x: hidden;
}

.max-width {
    max-width: 1150px;
    margin: auto;
}

.half-width {
    width: 50%;
}

h1, h2, h3 {
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-start {
    justify-content: start;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.justify-center {
    justify-content: center;
}

.inline-block {
    display: inline-block;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-xxlarge {
    font-size: var(--font-xxlarge);
    line-height: 1;
}

.text-xlarge {
    font-size: var(--font-xlarge);
    line-height: 1;
}

.text-large {
    font-size: var(--font-large);
    line-height: 1;
}

.text-medium {
    font-size: var(--font-medium);
    line-height: 1.5;
}

.text-small {
    font-size: var(--font-small);
    line-height: 1.5;
}

.text-xsmall {
    font-size: var(--font-xsmall);
    line-height: 1.5;
}

.text-xxsmall {
    font-size: var(--font-xxsmall);
    line-height: 1.5;
}

.font-heavy {
    font-weight: 900;
}

.font-bold {
    font-weight: 700;
}

.font-regular {
    font-weight: 500;
}

.font-light {
    font-weight: 300;
}

.font-italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

.card {
    padding: 24px 28px;
    border-radius: var(--border-radius);
    background-color: var(--dark-color);
}

.icon-large {
    height: var(--font-large);
    width: var(--font-large);
    margin: auto 0;
}

.icon-medium {
    height: var(--font-medium);
    width: var(--font-medium);
    margin: auto 0;
}

.icon-small {
    height: var(--font-small);
    width: var(--font-small);
    margin: auto 0;
}

.icon-xsmall {
    height: var(--font-xsmall);
    width: var(--font-xsmall);
    margin: auto 0;
}

.fade-in-on-scroll {
    opacity: 0;
    transition: opacity var(--transition-duration) ease-in-out, transform var(--transition-duration) ease-in-out;
}

@media (max-width: 640px) {
    :root {
        --font-xxlarge: 60px;
        --font-xlarge: 48px;
        --font-large: 36px;
        --font-medium: 24px;
        --font-small: 18px;
        --font-xsmall: 14px;
        --font-xxsmall: 12px;
    }
}